.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #293846; /* Optional: Background color */
  flex-direction: column;
}

.login-container h2 {
  margin-bottom: 16px;
  color: #ffffff;
}
